In [1]:
print("Love you harsh",'1',"laove you jatin","love you nish`a mam","love you mamma sir",10000)

Love you harsh 1 laove you jatin love you nish`a mam love you mamma sir 10000

In [2]:
print("Carry","mindfull","loving","temple","mumma", sep='')

Carrymindfulllovingtemplemumma

In [3]:
print( "Hi" ,end =' ')
print("Take care")

Hi Take care

In [4]:

#Dataypes 

#1. Basic Datatypes {int(90, 20), float(1.234, 8.0) , boolean(True,False), string("stjnjndf") , complex(4+3i), }
#2. Contaiers : {Tuples, Dictionary, List, Set}
#3. User Defined : oops concept

In [5]:
#integer 
print(8890)
print(1.7e308) 


#float
print(1.345)
print(1.7e308)

#boolean
print(True)
print(False)


#complex
print(90+5j)


#stiring 
print('Joke erddaicates dulness')
print("Joke erddaicates dulness")
print("""Joke erddaicates dulness""")
#each  has different use 3,2,1 qoute

8890
1.7e+308
1.345
1.7e+308
True
False
(90+5j)
Joke erddaicates dulness
Joke erddaicates dulness
Joke erddaicates dulness

In [6]:

#Container datatypes 

#list
print(["aryan","virangan", "Indra","Ishmanpreet","Karuna","Rishi"])

#tuple
print(("aryan","virangan", "Indra","Ishmanpreet","Karuna","Rishi")) 

#Dictionary 
print({"Source":"Canals", "Industry":"Oil"})

#Set 
print({2,4,6,8}, {1,3,5,7})

['aryan', 'virangan', 'Indra', 'Ishmanpreet', 'Karuna', 'Rishi']
('aryan', 'virangan', 'Indra', 'Ishmanpreet', 'Karuna', 'Rishi')
{'Source': 'Canals', 'Industry': 'Oil'}
{8, 2, 4, 6} {1, 3, 5, 7}

In [7]:


#OPERATORS 

#A> AIRTHEMETIC OPerators 
#B> RELATIONAL Operators 
#C> Memebrship  Operators
#D> BITWISE Operators 
#F> IDENTITY Operators 
#G> LOGICAL Operators

In [8]:

#A> AIRTHEMETIC OPerators

a= 3 
b=7
print(a+b)

print(a-b)

print(a*b)

print(a/b)

print(a%b)

print(a//b)

print(a ** b)

10
-4
21
0.42857142857142855
3
0
2187

In [9]:
#B> RELATIONAL Operators 

a = 10 
b= 11

print(a<b)

print(a>b)

print(a>=b)

print(a<=b)

print(a==b)

print(a!=b)

True
False
False
True
False
True

In [10]:
#C> Memebrship  Operators

# in , not in

a= [12,23,45,56]   #List
b={"birth":"8 sept 1810","Samadhi":"10 Oct 1910", "Name":"Saint Shri Gajanan Maharaj" , "place":"Sheagaon, Maharashtra"}  #Dictionary
c= ('D','E','A','R')   #sets

print( 12 in a) #list item

print( 12 not in a) 


print( "birth" in b)  #  Dictionary Key
#Vlaue is not identified it is thorugh only key it finds 
print( "Sheagaon, Maharashtra"  in b) #Vlaue
print("8 sept 1810" in b) #value

True
False
True
False
False

In [11]:
#G> Logical Operators 
#True , False, Not
a= True
b=False

#AND
print(a and b)
print(a & b)

#OR 
print(a or b)
print(a | b)

#NOT
print( "a =" , not a)
print( "b =" , not b)

False
False
True
True
a = False
b = True

In [12]:
#D> BITWISE Operators 
a = 11
b= 7 

print(a << b) #LEFT SHIFT

print(a >> b) #RIGHT SHIFT

#0 becomes 1 and vice versa (~) BITWISE NOT
print(~a) 

#BITWISE AND(&) 
print(a & b)

#BITWISE OR(|)
print(a | b)

#BITWISE XOR(^)
print(a ^ b)

1408
0
-12
3
15
12

In [13]:
#F> IDENTITY Operators 
a= 90
b=90

print(a is b)

c = ['1', '3', '5', '7']
d=  ['1', '3', '5', '7']

print(c is d)   
#not every 2 variuable having same data or value willl be stored at sanme memory

True
False

In [14]:
# ASSIGNMNET OPERATORS

a= 80 
b=11

a+=11 

print(a)  
a /= 111


a -= 11
print(a)

a *= 111
print(a)

a /= 111
print(a)

a &= 111
print(a)

a //= 111
print(a)

a |= 111
print(a)

a >>= 111
print(a)

a <<= 111
print(a)

91
-10.18018018018018
-1130.0
-10.18018018018018

TypeError: unsupported operand type(s) for &=: 'float' and 'int'

In [16]:
# IF_ELSE   

email = "aryan1234@gmail.com"
pswd = "12345"


mailid = input("Tell the email")
if "@" in mailid:
    key = input("Tell the pasword")
    if mailid == "aryan1234@gmail.com" and key == "12345":
        print("Welcome to site")
    else: 
        print("incorrect emailid or pswd")
        mailid1 = input("Tell email")
        key1 = input("Tell password")
        if mailid1 == "aryan1234@gmail.com" and key1 =="12345" :
            print("Welocme") 
        else:
            print("Incorrect Credentials")

Tell the email asas

In [17]:
# while  , #do while , #For-> range, sequence 
# while loop -> dont know how many times itis going to iterate   ,   For -> When know how many times iterations is .  
# ITERATIVE CONDITIONAL LOOP 
number = int(input("Enter number"))
i=1

while i<11:
    result = i*number
    print(i , "*" , number, "=" , result,sep='    ')  
    i+=1

Enter number as

ValueError: invalid literal for int() with base 10: 'as'

In [18]:
#GUESSING GAME 
import random 
random_Number = random.randint(10,100)
print(random_Number)


i=0
#while i<6  constraint the number of cahnces 
while num != random_Number:
    num = int(input("Enter number guessed"))    
    if num > random_Number:
        print("number is smaller than" , num)
    elif num < random_Number:
        print("number is greater than", num )
    elif num == random_Number:
        print("Congrats You Guessed the number Right :)"  , num)
        break
    #Constaining the number of chances to 6     
    #if i == 5:
    #    print("Number of Guesses are over!!") 
    #print("Try AGAIN YOU HAVE " , 6-i, "left chances")
    #i+=1

72

NameError: name 'num' is not defined

In [19]:
#FOR LOOP 

#RANGE
#SEQUENCE 

#RANGE range(start,End,Iterate)

In [20]:
list(range(15))       #Starts assuming from 0 to 14 , Taken 15 as end number

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [21]:
range(1,11)
list(range(1,11))   #Starts with 1 to 10

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [22]:
list(range(10,0,-1))   # 10 to 1 doing  -1

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [23]:
list(range(0,25,5))

[0, 5, 10, 15, 20]

In [24]:
for i in range(5):
    print(i)

0
1
2
3
4

In [25]:
#RANGE FUNCTION 
#FOR LOOP ITERATING OVER RANGE FUNCTION
for  i in range(40,60,4):      
    print(i , end = "  ") 
    num = i * 2
    print(i , "*" , 2 , "=" , num, end = "\n")

40  40 * 2 = 80
44  44 * 2 = 88
48  48 * 2 = 96
52  52 * 2 = 104
56  56 * 2 = 112

In [ ]:
#SEQUENCE 
#"MAHARASHTRA"  is a sequence of characters. 
#STRING
for i  in "MAHARASHTRA":
    print(i)

In [ ]:
#list : FOR LOOP ITERATING OVER SEQUENCE OF LIST
list = ["MAHARASHTRA","coimbatore","luggage VALLEY"] 

for i in list:
    print(i ,end=":")
    for j in i:    # LOGIC : IT is ointing to "MAHARASHTRA"  I ficuse it oon that and TOOK it as SEQUENCE to ITERATE on .
        print(j , end=" ")
    print(end="\n")

In [ ]:
#TUPLE 
for i in (2 , 4, 6, 8, 10):
    print(i)

respected_GORKHAS = {"GORKHA":"INDIAN ARMY REGIMENT", "NATURE":"FIERCE", "RANK":"COL","TEAMS":"50"} 

#DICTIONARY 
for key in respected_GORKHAS:  #ACCESSED KEY IN DICTIONAR
    print(key , end = ":")
    print(end = " ")
    for value in key:  #KEY IS "GORKHA" NOW ACCESS THE VALUE IN THIS FOR LOOP  
        print( respected_GORKHAS[key])
        break

In [ ]:
#SETS 
for i in (1,2,3,4,5,6,7,88,9): 
    print(i, end = " ")

In [33]:
#* PATTERN Problems 

#*
#**
#***
#****
#*****

num = {1,2,3,4,5}
for i in range(5):   #Entered Inside a Row 0 , 1, 2, 3, 4 
    for j in range(i+1):   # After ENTERING Each Row FOCUS ON COLUMNS   0th row -> 1*  (0+1)
        print('*' , end = " ")  
    print(end = "\n")

*
* *
* * *
* * * *
* * * * *

In [37]:
#User INPUT IN PATTERN * 

#❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️
user_input_ROWS = int(input("Tell ROWS REQUIRED")) 

for i in range(user_input_ROWS):
    for columns in range(i+1):
        print("❤️" , end = " ")
     
    print(end = "\n")

Tell ROWS REQUIRED 11

❤️
❤️ ❤️
❤️ ❤️ ❤️
❤️ ❤️ ❤️ ❤️
❤️ ❤️ ❤️ ❤️ ❤️
❤️ ❤️ ❤️ ❤️ ❤️ ❤️
❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️
❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️
❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️
❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️
❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️ ❤️

In [40]:
#BREAK , CONTINUE, PASS  keywords 



#BREAK
for i in range(0,10, 2):
    if i == 6:
        break   #BREAKS THE FOR LOOP come out of the loop  
    print(i)

0
2
4

In [42]:
#CONTINUE        #FURTHER CODE is not executed and controll goes back to the nearest loop there is 
for o in range(0,9):
    if o == 5:
        continue  #IN THAT PARTICUALR ITERATION THE CODE FURTHER CODE IS NOT EXECUTED , After CODE IS NOT EXECUTED AND CONTROLL GOES BACK TO THWE INITIAL LOOP 
    print(o)

0
1
2
3
4
6
7
8

In [48]:
dict = {"lake":"SHIRLA", "area":"400m", "Sorrounding":"GREENERY", "QUALITY":"GOOD"}
for j in dict:
    if j == "area":    #When "QUALITY" comes then FIRTHER CODE IS NOT EXECUTED AND IT GOES BACK TO 1st LOOP 
            continue
    print(j , end = ":")
    print(end = " ")
    for value in j:              
        print(dict[j] , end = "\n")
        break

lake: SHIRLA
Sorrounding: GREENERY
QUALITY: GOOD

In [49]:
#PASS  THERE IS NOTHING TO WRITE IN A LOOP / NO IDEA TO AVOID ERROR USE PASS

for j in dict:
    pass

In [62]:
#BUILT IN FUNCTIONS 15 
#1. INPUT
strings = input("ENTER A STRING")

#2. PRINT
print(strings)

#3. abs (ABSOULUTE)

#4. type  type of datatype 
type(strings) 

#5.int etc.   type conversion functions 
conversion  = int('5674')
print(conversion) #returned as a integer 

print(float(1)) #convert to float

print(str(12345))

print(bool(90)) 


#6. pow 
pow(2,3)

#7. min/maax 
min({2,22,222}, {3,33,333}) 

max({2,22,222}, {3,33,333})

ENTER A STRING wwqwq

wwqwq
5674
1.0
12345
True

{2, 22, 222}

In [66]:
#round 
round(1111.11111)

1

In [68]:
round(22/7)

3

In [74]:
#8 divmod divmod(x//y , x%y)  these @OPERATIONS HAPPENS 
divmod(2,3)         #floor division , Mod

(0, 2)

In [75]:
divmod(10,2)

(5, 0)

In [77]:
#9. BINARY, HEXADECIMAL, OCTAL VALUE OF A NUMBER 
bin(9)

'0x9'

In [78]:
hex(9)

'0x9'

In [79]:
oct(9)

'0o11'

In [80]:
#9. id TO KONW ADRESS OF MEMEORY 

a= 11
id(a)

108922876618888

In [92]:
#10. ord   ASCII value of any character 
string1 = "MAHARASHTRA" 
for chars in string1:
    print(chars , ":" , ord(chars),sep="  ")

M  :  77
A  :  65
H  :  72
A  :  65
R  :  82
A  :  65
S  :  83
H  :  72
T  :  84
R  :  82
A  :  65

In [94]:
#11. len length 
a = "SWAMIJI"
len(a)

2

In [103]:
list1 = [['!','@','#','$'],[1 , 2.3, 4.0, 44444]]  
len(list1)
for item in list1:
    print("length = ",len(item), "-->", sep = "" , end = " ")
    for j in item:
            print(j , ":", type(j), sep = " ", end = "  " )
    print(end = '\n')

length = 4--> ! : <class 'str'>  @ : <class 'str'>  # : <class 'str'>  $ : <class 'str'>
length = 4--> 1 : <class 'int'>  2.3 : <class 'float'>  4.0 : <class 'float'>  44444 : <class 'int'>

In [115]:
#12. sum 
sum({2,3,4,5}) #sum of set 

sum([1,2,3,4,5,6,7]) #sum of list

sum((9,0,8,7,6)) #sum of tuple

30

In [117]:
#help TO READ DOCUMENTATION OF ANYTHING NOT UNDERSTOD, 

help(ord)

Help on built-in function ord in module builtins:

ord(c, /)
    Return the Unicode code point for a one-character string.