In [1]:
#List 
#Collection in Python for sequences of diverse data types.

#List vs Array
#Array: Homogeneous; Contiguous memory; Fast; Numerical/Scientific use.
/#List: Heterogeneous; Non-contiguous memory; Programmer-friendly; General-purpose.
#1. Create
#2. Access
#3. Edit
#4. Add
#5 . Delete
#6. Operations
#7. Functions

#Arrays vs. Lists in Memory:
#Arrays:

#int arr[50]; ---> 50 contiguous memory blocks.
#Elements stored in binary form at consecutive addresses.
#Lists:

#list_example = [1, 2, 3] ---> Elements at different locations.
#Stores references/pointers to elements, not the values.

In [2]:
L = [1,2,3]
id(L[0])

107970847909704

In [3]:
print(id(L[2]))

107970847909768

In [4]:
#List Characteristics
#Ordered
#Mutable
#Heterogeneous
#Duplicates allowed
#Dynamic size
#Nesting supported
#Indexable
#Any object type

In [5]:
#CREATE 
l = []   #empty list 
print(l)

[]

In [6]:
#1D  HETEROGENEOUS 
dim_1D =[1,123.4333 , True, 7+90j , 'g' , "LONG DISTANCE"]

In [7]:
#2D
dim_2D =[["STRONG" , "SUITS" , "KINDNESS"] , ['R','O'] , [True,False] , [1223.455 , 33, 44,]]

In [8]:
#3D 
dim_3D =  [ [["SLOGANS" , "OF"] , ["INDEPENDENCE"], ["IN" "COLONIAL", "ERA"]] , [[11223.90 , 33, 99,111] , [900, 2+90j]] , [['1', 0, True ,'k'] , ["suits" ,"ARE"] ,["EXPENSIVE"]]  ]

In [9]:
#TYPE CONVERSION 
list("MILK")

['M', 'I', 'L', 'K']

In [152]:
#2. ACCES 

#1D ACCES 
print(dim_1D) 
dim_1D[0:6] 

#SLICING
print(dim_1D[-1])  # LAST ELEMENT -1 

print(dim_1D[::-1]) #REVERSE THE LIST COMPLETELY 

print(dim_1D[1:6:2]) # 2 is sequece 

print(dim_1D[-5:-1] ,end = "\n\n\n")


#2D ACESS 

print(dim_2D)
print(dim_2D[0:4] ,end="\n\n\n")  
i = 0 
print("ACCESSING 2D LIST")
for i in dim_2D:   #1D ACCESSED 
    print(i,":", end = " ")  
    for second_dim in i:      #2D accessed 
        print(second_dim , end = "  ") 
    print(end = "\n")

[1, 123.4333, True, (7+90j), 'g', 'LONG DISTANCE']
LONG DISTANCE
['LONG DISTANCE', 'g', (7+90j), True, 123.4333, 1]
[123.4333, (7+90j), 'LONG DISTANCE']
[123.4333, True, (7+90j), 'g']


[['STRONG', 'SUITS', 'KINDNESS'], ['R', 'O'], [True, False], [1223.455, 33, 44]]
[['STRONG', 'SUITS', 'KINDNESS'], ['R', 'O'], [True, False], [1223.455, 33, 44]]


ACCESSING 2D LIST
['STRONG', 'SUITS', 'KINDNESS'] : STRONG  SUITS  KINDNESS
['R', 'O'] : R  O
[True, False] : True  False
[1223.455, 33, 44] : 1223.455  33  44

In [11]:
print(dim_2D[0][0]) 
print(dim_2D[0][1])

print(dim_2D[1][0])
print(dim_2D[1][1])  

print(dim_2D[2][0])
print(dim_2D[2][1])

print(dim_2D[-1][0])  #ACESS LAST DIRECTLY VIA -1 
print(dim_2D[-4][0])
print(dim_2D[-3][0])

STRONG
SUITS
R
O
True
False
1223.455
STRONG
R

In [155]:
#3D 
#WHILE LOOP 
    
print(dim_3D)  
dim_3D[0:3]  
length = len(dim_3D)
print(len(dim_3D))
i = 0
while i< length:
    print(dim_3D[i]) 
    print(i  , ":" , sep = " " , end = " ")
    
    for index in dim_3D:
        j=0
        for index_2d in index:
            print( "[",i,"]","[",j,"]",":" , end = " ") 
            print(index_2d)   
            j+=1
    i+=1

[[['SLOGANS', 'OF'], ['INDEPENDENCE'], ['INCOLONIAL', 'ERA']], [[11223.9, 33, 99, 111], [900, (2+90j)]], [['1', 0, True, 'k'], ['suits', 'ARE'], ['EXPENSIVE']]]
3
[['SLOGANS', 'OF'], ['INDEPENDENCE'], ['INCOLONIAL', 'ERA']]
0 : [ 0 ] [ 0 ] : ['SLOGANS', 'OF']
[ 0 ] [ 1 ] : ['INDEPENDENCE']
[ 0 ] [ 2 ] : ['INCOLONIAL', 'ERA']
[ 0 ] [ 0 ] : [11223.9, 33, 99, 111]
[ 0 ] [ 1 ] : [900, (2+90j)]
[ 0 ] [ 0 ] : ['1', 0, True, 'k']
[ 0 ] [ 1 ] : ['suits', 'ARE']
[ 0 ] [ 2 ] : ['EXPENSIVE']
[[11223.9, 33, 99, 111], [900, (2+90j)]]
1 : [ 1 ] [ 0 ] : ['SLOGANS', 'OF']
[ 1 ] [ 1 ] : ['INDEPENDENCE']
[ 1 ] [ 2 ] : ['INCOLONIAL', 'ERA']
[ 1 ] [ 0 ] : [11223.9, 33, 99, 111]
[ 1 ] [ 1 ] : [900, (2+90j)]
[ 1 ] [ 0 ] : ['1', 0, True, 'k']
[ 1 ] [ 1 ] : ['suits', 'ARE']
[ 1 ] [ 2 ] : ['EXPENSIVE']
[['1', 0, True, 'k'], ['suits', 'ARE'], ['EXPENSIVE']]
2 : [ 2 ] [ 0 ] : ['SLOGANS', 'OF']
[ 2 ] [ 1 ] : ['INDEPENDENCE']
[ 2 ] [ 2 ] : ['INCOLONIAL', 'ERA']
[ 2 ] [ 0 ] : [11223.9, 33, 99, 111]
[ 2 ] [ 1 ] : [900, (2+90j)]
[ 2 ] [ 0 ] : ['1', 0, True, 'k']
[ 2 ] [ 1 ] : ['suits', 'ARE']
[ 2 ] [ 2 ] : ['EXPENSIVE']

In [30]:
#LISTS ARE MUTABLE  
l1 = [100, 200,2,3,4,700]
l1[1:5] = [300,400,500,600]
print(l1)

[100, 300, 400, 500, 600, 700]

In [33]:
print(dim_3D)

[[['SLOGANS', 'OF'], ['INDEPENDENCE'], ['INCOLONIAL', 'ERA']], [[11223.9, 33, 99, 111], [900, (2+90j)]], [['1', 0, True, 'k'], ['suits', 'ARE'], ['EXPENSIVE']]]

In [35]:
dim_3D [0] [0] [1]
print(dim_3D [1] [1] [1])

(2+90j)

In [59]:
#ADD 
#append 1 item only adds in last 
#extend mamy items adds in last
#insert  at start adds item

li9 = [2,20,200,3,30,300]

li9.append("status")
print(li9)

#li9.append(1,22) #ERROR

[2, 20, 200, 3, 30, 300, 'status']

In [60]:
li9.extend([5000 ,6000, 70000 ,8000])    
print(li9)

[2, 20, 200, 3, 30, 300, 'status', 5000, 6000, 70000, 8000]

In [54]:
li9.insert(3, 'insert')
print(li9)

[2, 'insert', 'insert', 'insert', 20, 200, 3, 30, 300, 'status', 'D', 'U', 'O', 'L', 'I', 'N', 'G', 'O', 'DUOLINGO', 'IS', 'BETTER', 'LANGUAGE', 'APP', 'DUOLINGO', 'IS', 'BETTER', 'LANGUAGE', 'APP', 'DUOLINGO', 'IS', 'BETTER', 'LANGUAGE', 'APP']

In [82]:

#DELETE 
#POP deletes everything except the last item in list 
#DEL DELETE ITEMS INDEXWISE
#REMOVE ITEM NAME IS KNOWN AND NOT INDEX THERE USED 
#

li2 = [1,2,3,4,"justice" ,"all in oone" , 'o' , 'p' , 'm'] 
li2.pop()  

li3 = [1,2,3,4,"justice" ,"all in oone" , 'o' , 'p' , 'm'] 
del li3[1:4]
print(li3) 

del li3[-5:]    
print(li3)

[1, 'justice', 'all in oone', 'o', 'p', 'm']
[1]

In [102]:
li4 = ['oracle',True,'i',"strong",234,456]  
li4.remove(True)
print(li4)

['oracle', 'i', 'strong', 234, 456]

In [103]:
li4.remove(234) 
print(li4)

['oracle', 'i', 'strong', 456]

In [109]:
#Function 
#OPERATIONS 

print([1,2,3] + [4,5,6])  

print([1,2,3] * 3)  

print(1 in [1,2,3])  

royalty = ["single", "double" , "triple"]

for trees in royalty:
    print(trees)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3]
True
single
double
triple

In [126]:
#FUNCTIONS 

L10 = ["love", "for","all"] 
L10.sort(reverse = True) 
print(L10)  

L11 = [1,2,3,4]

L11.sort(reverse = True)
print(L11)

['love', 'for', 'all']
[4, 3, 2, 1]

In [132]:
#TUPLE 
#TUPLES ARE IMMUTABLE   
#TUPLE IS READ ONLY DATATYPE 
#Characteristics:
#Ordered elements.
#Unmodifiable post-creation.
#Allows duplicates.


#CREATE 

tup1 = (1) 
print(type(tup1)) 

tup2 = (1,) 
print(type(tup2))  

tup3 = (1,2,3,4)
print(type(tup3)) 

print(tup3)

<class 'int'>
<class 'tuple'>
<class 'tuple'>
(1, 2, 3, 4)

In [136]:
tup4 = tuple("GOA",) 
print(tup4)

('G', 'O', 'A')

In [142]:
tup5 = (1,2,3,( 4,5 , (9,10,11,12) ) ,(6,7))  
print(tup5[0]) 

print(tup5[3])  

print(tup5[4])  

print(tup5[1:4]) 

print(tup5[3][0])  #2D 

print(tup5[3] [2] [3]) #3D

1
(4, 5, (9, 10, 11, 12))
(6, 7)
(2, 3, (4, 5, (9, 10, 11, 12)))
4
12

In [143]:
#EDIT 

tup6 = (4,5,6,7,8)

tup6[2] = 'op'  


#ADDING IN TUPLES NOT POSSIBLE  

#DELETING A PART OF TUPLE NOT POSSIBLE   

#OPERATIONS SIMILAR TO THE LIST \
#similar functions as list

TypeError: 'tuple' object does not support item assignment

In [151]:
#Q. Why use Tuples?
#Immutable; prevents changes.
#Ensures data integrity.
#Use for fixed collections.
#Example:
#college_database = ('CS', 'Math', 'Physics')
# college_database[0] = 'Electronics'  # TypeError
#Use for static data; lists for mutable.

#SPOECIAL SYNTAX 

a,b,c = (1,2,34)  
print(a,b,c) 

a,b = b, a
print(a,b) 

a,b,*others = (11,12,13,14,15,16,17)   
print(a,b) 
print(*others)

1 2 34
2 1
11 12
13 14 15 16 17

In [13]:
#Sets
#Unordered, unique elements.
#HETEROGENEOUS SET 
#Set is mutable; elements are immutable.

#Operations: Union, intersection, symmetric difference, etc.

#Characteristics:
#1. Unordered
#2.Mutable
#3.Unique Elements
#4.No Mutable Data Types
# Important Rules about Sets
#1.No Duplicates 
#2.No Indexing/Slicing 
#3.No Mutable Elements 
#4.Set is Mutable 

s1 = {1}  #BY DEFAULT PYTHON IDENTIFIES Empty CURLY BACES AS DICTIONARY DATATYPE  
print(type(s1))

s2= {} #EMPTY CURLY BRACES IS CONSIDERED AS DICTIONARY DATATYPE 
print(type(s2)) 

s2 = {1,2,3,"qwyu" ,1+9j, 't' ,212.00092} 
print(s2)

<class 'set'>
<class 'dict'>
{1, 2, 3, 212.00092, 'qwyu', (1+9j), 't'}

In [16]:
#CANNOT CREAE 2D < 3D<  sets  
s3 = {{1},"JOIN"}  #2D set ERROR

TypeError: unhashable type: 'set'

In [17]:
#REMOVES DUPLICATE
s4= {11,11,12,12,23,23,4,5,6}
print(s4)

{4, 5, 6, 23, 11, 12}

In [23]:
s5 = {"DARK", "INSIDE" , "OUT"}
print(s5)

{'DARK', 'OUT', 'INSIDE'}

In [24]:
s6 = {1,2,3,4,"YOURS"} 
print(s6)

{1, 2, 3, 4, 'YOURS'}

In [27]:
# CANNOT ACCESS ELEMENTS FROM SETS 
#NO INDEXING/SLICING
#CONVERT SET INTO LIST(NEW CREATED) >>> EDIT >>>> SAVE

s7 = {1,2,3,4,"balls"} 
print(s7[0:2]) 
print(s7[0])
print(s7[-1])

TypeError: 'set' object is not subscriptable

In [41]:

#ADD ELEMENTS IN SET 
#YES POSSIBLE 
#MUTABLE DATATYPE
s8 = {"lolo" , "lulu", 'a', 'P' , 123445, 0 , 12.00} 
print(s8) 
print(id(s8))


#ADD
s8.add(9900)  
#s8.add(9900, "JAI BHARAT" , "JAIN TEMPLE") #TypeError: set.add() takes exactly one argument (3 given)
print(s8)
print(id(s8))

{0, 'lolo', 123445, 'lulu', 'a', 12.0, 'P'}
126101313444256
{0, 'lolo', 9900, 123445, 'lulu', 'a', 12.0, 'P'}
126101313444256

AttributeError: 'set' object has no attribute 'insert'

In [51]:

#Delete
#1.del  >>>>> NOT SUPPORTED
#2.remove() >>>>SUPPORT  #ENTER ELEMNT/VALUE DIRECTLY SO IT IS POSSIBLE
#3.pop() >>>>>SUPPORTED #ONLY @ST ELEMENTS REMAINS 
#4.discard() 
#5.clear() >>>>>>>> SUPORTED #EMPTYS THE SET 


s10  ={"BULLEYA" , "SHoGHAI" ,"oplanding" , 123,456}  
del s10[0]  #ypeError: 'set' object doesn't support item deletion

TypeError: 'set' object doesn't support item deletion

In [52]:
s10.remove(123)
print(s10)

{'SHoGHAI', 'BULLEYA', 'oplanding', 456}

In [53]:
s10.pop()

'SHoGHAI'

In [63]:
#help(discard())  
s10.clear() 
print(s10) #CLEARS THE WHOLE SET ONLY EMPTY SET REmAINS 
print(type(s10))

set()
<class 'set'>

In [65]:
#OPERATIONS AE NOT SUPPORTED
#CONCATENATION >>>>> NOT SUPPORTED
#MULTIPLY >>>>NOT SUPPORTED

s11 = {1,22,33,44} 
s12 = {55,66,77,88}
print(s11 + s12) #TypeError: unsupported operand type(s) for +: 'set' and 'set'

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [67]:
print(s11 * 3) #TypeError: unsupported operand type(s) for *: 'set' and 'int

TypeError: unsupported operand type(s) for *: 'set' and 'int'

In [71]:
#MEMBERSHIP OPERATOR 
print(123 in s11) 
print(22 in s11)

False
True

In [75]:
#LOOPs 
#FOR  >>>>> WORKS
print(s11)
for element in s11:
    print(element) 
    s11[element] = "HELLO"  #TypeError: 'set' object does not support item assignment

{1, 44, 22, 33}
1

TypeError: 'set' object does not support item assignment

In [101]:
#FUNCTIONS IN SET  
s13 = {"EINSTIEN","JENNEFER","ARISTOTLE","TESLA","GRAHAM"} 
s14 = {1200 , 200 , 600 ,500 , 900 ,"TESLA","GRAHAM"}

#sorted(s13.reverse = True)


#max/min 
#len
#sum 
#sorted 


#SET OPERATIONS   
#union 
#intersection
#difference
#symmetric_difference
#isdisjoint
#issubset
#issuperset

s15 = s13.union(s14) 
print(s15)

print(s13.intersection(s14)) # GIVES SIMILAR ELEMNTS IN BOTH SETS #{'GRAHAM', 'TESLA'}    

print(s13.difference(s14))  #UNSIMILAR ELEMENTS PRINT 

print(s13.symmetric_difference(s14)) #ELEMNTS THAT ARE NOT IN BOTH  

print(s13.isdisjoint(s14))   #Returns whether two sets have a intersection or not

print(s15.issuperset(s14)) 
   
print(s13.issubset(s15))

{'EINSTIEN', 900, 200, 'JENNEFER', 'GRAHAM', 1200, 'ARISTOTLE', 500, 'TESLA', 600}
{'GRAHAM', 'TESLA'}
{'EINSTIEN', 'ARISTOTLE', 'JENNEFER'}
{900, 200, 'JENNEFER', 600, 'EINSTIEN', 1200, 'ARISTOTLE', 500}
False
True
True

In [103]:
#Frozen set
#Immutable set.
#Created via frozenset().
#No modifications post-creation.
#Ideal for hashable items: strings, numbers.

#create frozenset 

fs1 = frozenset([ 1,2,3])
fs2 = frozenset([3,4,5])

fs1 | fs2

frozenset({1, 2, 3, 4, 5})

In [106]:
frozenset({1,2,3,4,5}) 

#works >>>> aa read functionss 
#Doesn't work >>>>> write function 
#When to use  
#2D sets 
fs  = frozenset([1,2,frozenset([3,4])])  
fs

frozenset({1, 2, frozenset({3, 4})})

In [107]:
{i**2 for i in range(1,11) if i>5}

{36, 49, 64, 81, 100}

In [108]:
{i+2 for i in range(0, 11) if i<6}

{2, 3, 4, 5, 6, 7}

In [109]:
#DICTIONARY 

#Key-Value Pairs: Data mapping.
#Aliases: Map, associative array.
#dict = { 'name': 'nitish', 'age': 33, 'gender': 'male' }  
#Traits: 
#Mutable
#No indexing
#Unique keys
#Immutable keys
#{"Name":"Saurabh", "Gender":"Male"}
#{'Name': 'Saurabh', 'Gender': 'Male'}
#4 Key Rules About Dictionaries
#No Indexing: No index support.
#Mutable: Can modify post-creation.
#Keys: Immutable (str, num, tuple); Values: Any type.
#Unique Keys: Keys must be unique; overwrite on reassignment.



#MUTABLE TYPES = LIST , SETS , DICTIONARY 
#IMMUTABLE  = SETS  , STRINGS , tuples ,INT FLOAT , Bool, COmplex

In [110]:
#CREATE 

#1. Create
#2. Access
#3. Edit
#4. Add
#5. Delete
#6. Operations
#7. Functions

#empty dictionary {}
D= {} 
print(D)

{}

In [174]:
d1 = {"STATE":"DELHI","RESOURCE":"POWER","LEVEL":"CENTRAL","RISK":"MANIPULATION"}  
print(d1)

{'STATE': 'DELHI', 'RESOURCE': 'POWER', 'LEVEL': 'CENTRAL', 'RISK': 'MANIPULATION'}

In [175]:
#2D DICT
d2 = {"LOCATION":"NOIDA","IINTERVAL":"6 months","LOYALTY":{"PRESIENT":2,"INVESTOR":300}} 
print(d2)

{'LOCATION': 'NOIDA', 'IINTERVAL': '6 months', 'LOYALTY': {'PRESIENT': 2, 'INVESTOR': 300}}

In [176]:
#KEY ARE IMMUTABLE SO THEY CAN BE SET 
#SET as keys : #TypeError: unhashable type: 'set' 
d3  = {(1,2,3):"SAME MARKS"}  
print(d3)    



d4 = {"SELF":"SACRIFICE" , "MODEL":"FREEDOM" , "INFORMATION":{"CHARACTER":"SUBHASH CHANDRA BOSE" , "RATING":7.9 } , "ROTATION":"15"} 
print(d4)

{(1, 2, 3): 'SAME MARKS'}
{'SELF': 'SACRIFICE', 'MODEL': 'FREEDOM', 'INFORMATION': {'CHARACTER': 'SUBHASH CHANDRA BOSE', 'RATING': 7.9}, 'ROTATION': '15'}

In [177]:
#NO INDEXING AND SLICING  
#USE ONLY KEY 
#ACCESING VALUE FROM DICTIONARY 

print(d4["INFORMATION"]["CHARACTER"]) #2D 
print(d4["SELF"])  #1D

SUBHASH CHANDRA BOSE
SACRIFICE

In [178]:
#EDITING DICTIONARY 

print(d4)  
d4["SELF"] = "SACRIFICE AND PRECISION" #1D    

d4["INFORMATION"]["CHARACTER"] = "COL> RAJEEV BHARWAN"   #2D 

#ADDING NEW ITEM 
d4["INFORMATION"]["ATTACK"] = "FIERCE"

{'SELF': 'SACRIFICE', 'MODEL': 'FREEDOM', 'INFORMATION': {'CHARACTER': 'SUBHASH CHANDRA BOSE', 'RATING': 7.9}, 'ROTATION': '15'}

In [181]:

#DELETION 
#del d4["INFORMATION"]["RATING"] 


print(d4)

#CLEAR 
d4.clear()   #emties THE all KEy:vaLue PAIR 
print(d4)

{}
{}

In [192]:
#MULTIPLY <ADDITION >>>>> NOT SUPPORTED 
#LOOPs >>>> SUPPORTED 
D = {("lawyer" , "rules" , "cases"):"COURT" , "SPEED":{"ROTATIONAL":"15 per day" , "justice":"75%"} }
for i in D:
    #print(i , end = "\n\n\n") #ACCESSED KEYS 
     print(D[i]) #ACCESS KEYPAIRS

COURT
{'ROTATIONAL': '15 per day', 'justice': '75%'}

In [204]:
#OPERATIONS ON DICTIONARY 

print(len(D))

#print(max(D)) #TypeError: '>' not supported between instances of 'str' and 'tuple'  

D_simple = {"COLLEGE":"VIT,PUNE" , "ACREEIDETED":"A+++" , "STUDENTS":3000 , "STRENGTH":8000} 
print( max(D_simple)) 

print(min(D_simple)) 

print(sorted(D_simple)) 
d20 = {"COLLEGE":"VIT,PUNE" , "ACREEIDETED":"A+++" , "STUDENTS":3000 , "STRENGTH":8000} 

#print(sorted(d20.reverse=True))

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (352690274.py, line 15)

In [208]:
#DICTIONARY  COMPREHENSION 

# {key: value for var in iterable}  create dicts from iterable 


DD = {"Name":"Nitish", "Gender":"Male", "Age":30}
print(DD.items()) 
len(DD)

dict_items([('Name', 'Nitish'), ('Gender', 'Male'), ('Age', 30)])

3

In [226]:
D90 = {key:value for key,value in DD.items() if len(key)>3}  
print(D90) 


L= [1,2,3,4,5,6,7]  
D100 = {item: item**2 for item in L } 
print(D100)


M = [10, 20,30,40,50,60,70,80,90]
D110 = {value:value*10 for value in M }  
print(D110) 

D120 = {value:value*10 for value in range(10,110,10) }
print(D120)

{'Name': 'Nitish', 'Gender': 'Male'}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}
{10: 100, 20: 200, 30: 300, 40: 400, 50: 500, 60: 600, 70: 700, 80: 800, 90: 900}
{10: 100, 20: 200, 30: 300, 40: 400, 50: 500, 60: 600, 70: 700, 80: 800, 90: 900, 100: 1000}

In [229]:
DDD = {"BANGLORE":1400 , "CHANDIGARH": 1500 , "NAGPUR":300} 
D130 = {key:value*2.0 for (key , value) in DDD.items()} 
print(DDD.items())
print(D130)

dict_items([('BANGLORE', 1400), ('CHANDIGARH', 1500), ('NAGPUR', 300)])
{'BANGLORE': 2800.0, 'CHANDIGARH': 3000.0, 'NAGPUR': 600.0}

In [234]:
days = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
temp_C = [30.5, 32.6, 31.8, 33.4, 29.8, 30.2, 29.9]
{i:j for (i,j) in zip(days,temp_C)} 


tools = ["INNER ENGINEERING" , "BSP" , "SHOONYA"]
meaning = ["MASTA MAGAN","KHULKE JILE FEELING","KHO  JAA"]

{key:value for (key,value) in zip(tools, meaning)}

{'INNER ENGINEERING': 'MASTA MAGAN',
 'BSP': 'KHULKE JILE FEELING',
 'SHOONYA': 'KHO  JAA'}

In [1]:
#NESTED COMPREHENSION  

tables = {i:{j:j*i for j in range(0,21)} for i in range(12,16)}
print(tables)

{12: {0: 0, 1: 12, 2: 24, 3: 36, 4: 48, 5: 60, 6: 72, 7: 84, 8: 96, 9: 108, 10: 120, 11: 132, 12: 144, 13: 156, 14: 168, 15: 180, 16: 192, 17: 204, 18: 216, 19: 228, 20: 240}, 13: {0: 0, 1: 13, 2: 26, 3: 39, 4: 52, 5: 65, 6: 78, 7: 91, 8: 104, 9: 117, 10: 130, 11: 143, 12: 156, 13: 169, 14: 182, 15: 195, 16: 208, 17: 221, 18: 234, 19: 247, 20: 260}, 14: {0: 0, 1: 14, 2: 28, 3: 42, 4: 56, 5: 70, 6: 84, 7: 98, 8: 112, 9: 126, 10: 140, 11: 154, 12: 168, 13: 182, 14: 196, 15: 210, 16: 224, 17: 238, 18: 252, 19: 266, 20: 280}, 15: {0: 0, 1: 15, 2: 30, 3: 45, 4: 60, 5: 75, 6: 90, 7: 105, 8: 120, 9: 135, 10: 150, 11: 165, 12: 180, 13: 195, 14: 210, 15: 225, 16: 240, 17: 255, 18: 270, 19: 285, 20: 300}}

In [11]:
#tuple and list combo 
LIST_of_YEARLY_PROMOTION = ["SANDEEP" , "MANDEEP" , "JAGADISH" , "SUDHISH" , "SANG YON" , "SUN YAN" , "SON GOKU"] 

DESIGNATION = ("TEAM LEAD","TEAM A1 Member" , "MANAGER" , "SENIOR DEVELOPER" , "RESEARCH HEAD" , "TESTING MANAGER" , "HR HEAD") 
type(DESIGNATION) 
print("2025 Promotion DATA")
{key:value for key,value in  zip(LIST_of_YEARLY_PROMOTION, DESIGNATION) }

2025 Promotion DATA

{'SANDEEP': 'TEAM LEAD',
 'MANDEEP': 'TEAM A1 Member',
 'JAGADISH': 'MANAGER',
 'SUDHISH': 'SENIOR DEVELOPER',
 'SANG YON': 'RESEARCH HEAD',
 'SUN YAN': 'TESTING MANAGER',
 'SON GOKU': 'HR HEAD'}