In [ ]:
#lambda function 
#Anonymous functions.

#Single Expression Limit.

#Syntax: lambda args: expr

addd= lambda a,b:a +b
addd(9,2)

In [ ]:
square = lambda num,pow: num**pow
square(80,9)

In [ ]:
string0 = lambda PROMOTION, DESIGNATION:{key:value for key,value in  zip(PROMOTION, DESIGNATION) } 

PROMOTION00 = ["LEAD" , "MANAGER" , "CONSULTANT", "HR HEAD"]
DESIGNATION11 = ["MEMEBER" , "TEAM LEAD","JR. CONSULTANT", "HR"]
string0(PROMOTION00, DESIGNATION11)

In [ ]:
for_loop = lambda L:'Col.' in  L

List = ["Col." , "Rajeev" , "Bharwan"] 
for_loop(List)

In [ ]:
#if 
if_condt = lambda args: print("Lulu too") if args == "lulu" else None
ans = input("Love you❤️❤️❤️❤️❤️❤️")
if_condt(ans)

In [ ]:
strin = lambda a:a[0] == "a" 
aplle = "apple" 
strin(aplle) 
print(strin("banana"))

In [15]:
"""Even no, sum ~ X 
odd no. dsum ~ y 
6 divisible sum ~ u""" 

def sums_n(fool,Listt):
    nocheat = 0 
    for i in Listt:
        if fool(i):
            nocheat = nocheat+i 
    return nocheat    

#sums = lambda lsit:

L = [2,3,56,36,79,13,40] 

x= lambda i:i%2==0
y= lambda i:i%2!=0
z= lambda i:i%6==0

print(sums_n(x,L))
print(sums_n(y,L))
print(sums_n(z,L))
#print(x)

134
95
36

In [18]:
#higher ORDER FUNCTIONS : FUnctions tha use other functiopns as input to performe actions ad return value 
#EX: Above 

#DEFINED hIGHER ORDER FUNCTIONS 
#MAP 
#FILTER 
#REDUCE

In [32]:
#map : Applies a function to each item in iterable.

dict = {"Name":"Suresh","Home":"Channi","job":"Farm caretaker"}
print(dict.items()) 
map(lambda key,value:value+"Approved",dict)


list(map(lambda value:value+ "SCANNED",dict))
#####map object is not accessible so we convert it into list to understand

dict_items([('Name', 'Suresh'), ('Home', 'Channi'), ('job', 'Farm caretaker')])

['NameSCANNED', 'HomeSCANNED', 'jobSCANNED']

In [33]:
L = [1,2,3,4,5,6,7,8]

list(map( lambda x: x**2 ,L))

[1, 4, 9, 16, 25, 36, 49, 64]

In [35]:
L = (True , False)

list(map(lambda bools:bools and True, L))

[True, False]

In [36]:
sets =  {1,2,True,0,False ,"Butterfly"} 

list(map(lambda exp:exp and False ,sets))

[0, False, False, False]

In [39]:
L = [1,2,3,4,5,6,7,8,100]

list(map(lambda x:100 == x , L))

[False, False, False, False, False, False, False, False, True]

In [56]:
fruits = ["jackf ruit", "apple" ,"lichi" ,"cherry"] 
list(filter(lambda fri:'i' in fri,fruits))

list(filter(lambda fri:'i' in fri,fruits))

['jackf ruit', 'lichi']

In [57]:
list(map(lambda fri:'i' in fri,fruits))

[True, False, True, False]

In [59]:
trials = [ { "Chalponde" , 11} , { "Williams" , 33 } , { "Montis" , 99 }  ] 
list(filter(lambda player:"Williams" in player,trials))

[{33, 'Williams'}]

In [60]:
"""3. Reduce
Reduces an iterable to a single value.

Syntax:

from functools import reduce
reduce(function, iterable)
Operates on pairs of elements until a single value remains.

Useful for Cumulative Operations (e.g., sum, product).

 """

'3. Reduce\nReduces an iterable to a single value.\n\nSyntax:\n\nfrom functools import reduce\nreduce(function, iterable)\nOperates on pairs of elements until a single value remains.\n\nUseful for Cumulative Operations (e.g., sum, product).\n\n '

In [64]:
import functools 
from functools import reduce 

L = [1,2,3,4,5,6,7,8,100]

functools.reduce(lambda x,y: x + y,L)

136

In [71]:
#greatest value
functools.reduce(lambda m,n: m if m>=n else n ,L)

100

In [72]:
#greatest value
functools.reduce(lambda m,n: m if m<=n else n ,L)

1

In [79]:
#list comprehension 
#Dictionary comprehension 
price = ["Lichi" , "Banana", "pery", "Mangoes"]
list0 = [fruit for fruit in price if fruit=="Mangoes"]
print(list0)

['Mangoes']

In [88]:
#used filter and lsit comprehemsion 
filtered_list = [list(filter(lambda chara:'e' in chara,price))] 
print(filtered_list)

[['pery', 'Mangoes']]

In [ ]:
# List Input from User

# 1. Prompt input
input_string = input("Enter the list elements separated by spaces: ")

# 2. Split string
string_list = input_string.split()

# 3. Convert to integers
integer_list = [int(item) for item in string_list]

# 4. Output
print("The input list is:", integer_list)
Enter the list elements separated by spaces: 12345
The input list is: [12345]
# Merge 2 Lists Without + Operator
L1 = [1, 2, 3, 4]
L2 = [5, 6, 7, 8]

# 1. Using `extend()` Method
L1 = [1, 2, 3, 4]
L2 = [5, 6, 7, 8]
# Merge L2 into L1
L1.extend(L2)
print("Merged list:", L1)

# 2. Using for Loop
L1 = [1, 2, 3, 4]
L2 = [5, 6, 7, 8]
# Merge L2 into L1 using a loop
for element in L2:
    L1.append(element)
print("Merged list:", L1)
Merged list: [1, 2, 3, 4, 5, 6, 7, 8]
Merged list: [1, 2, 3, 4, 5, 6, 7, 8]
# Replace item in list
L = [1, 2, 3, 4, 5, 3]
# replace 3 with 300

L = [1, 2, 3, 4, 5, 3]
old_item = 3
new_item = 300
# Iterate through the list and replace old_item with new_item
for i in range(len(L)):
    if L[i] == old_item:
        L[i] = new_item
print("Updated list:", L)
Updated list: [1, 2, 300, 4, 5, 300]